*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #f1f1f1;
}

.topnav{
    width: 100%;
    height: 45.5px;
    color: #fff;
    background-color: #000;

}

.topnav svg{
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
}

.nav-icon{
    float: left;
}

.search{
    float: right;
}

.topnav::after{
    clear: both;
}

.container{
    margin: auto;
    color: #000;
}

.hero-heading{
    color: #000;
    background-color: #fff;
    padding: 48px 0;
    text-align: center;
}

.hero-heading h6 span{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.hero-img{
    position: relative;
}

.hero-img img{
    width: 100%;
    height: auto;
}

.hero-img-textbox{
    position: absolute;
    top: 40%;
    left: 0%;
    padding: 12px 24px;
    color: #fff;
}

.hero-img-text1{
    font-size: 36px;
    letter-spacing: 4px;
    display: inline-block;
}

.hero-img-text2{
    font-size: 64px;
    margin: 10px 0;
}

.hero-btn{
    color: #000;
    background-color: #f1f1f1;
    padding: 12px 24px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.middle-container{
     border: 1px solid #f1f1f1;
     padding: 8px 16px;
}

.left-side{
    width: 66.66%;
    float: left;
}

.card1{
    background-color: #fff;
    color: #000;
    padding: 12px 24px;
    margin: 10px;
}

.card1-heading{
    text-align: center;
}